<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista dos Sintomas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let symptom of symptoms | async">
            <ion-grid>
                <!--grid -->
                <ion-row>
                    <ion-col>
                        <!--1-->
                        <ion-avatar class="ion-align-self-start" *ngIf="symptom.imgUrl">
                            <img [src]="symptom.imgUrl" alt="" />
                        </ion-avatar>
                    </ion-col>
                    <ion-col>
                        <!--2-->
                        <span>{{ symptom.name}}</span>
                    </ion-col>
                    <ion-col>
                        <!--3-->
                        <span>{{ symptom.description}}</span>

                    </ion-col>
                    <ion-col>
                        <!--4-->

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <!--1-->
                        <!-- <span [innerHTML]="symptom.description"></span> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!--/grid -->
        </ion-item>
    </ion-list>

</ion-content>