<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista dos Sintomas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let symptom of symptoms | async" size="4">
                <!-- tag ion-avatar irá trazer a imagem arredondada -->
                <ion-avatar class="ion-align-items-center" *ngIf="symptom.imgUrl">
                    <img [src]="symptom.imgUrl" alt="">

                </ion-avatar>
                <ion-item>
                    <span>{{ symptom.name}}</span>
                </ion-item>
                <ion-toggle color="primary"></ion-toggle>


            </ion-col>

        </ion-row>
    </ion-grid>


    <!-- <ion-list>
        <ion-item *ngFor="let symptom of symptoms | async">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-avatar class="ion-align-self-start" *ngIf="symptom.imgUrl">
                            <img [src]="symptom.imgUrl" alt="" />
                        </ion-avatar>
                    </ion-col>
                    <ion-col>
                        <span>{{ symptom.name}}</span>
                    </ion-col>
                    <ion-col>
                        <span></span>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <span [innerHTML]="symptom.description"></span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content> -->